<h4>What is around your lively neighborhood</h4>
<h4><%= link_to "Restaurant", restaurant_index_path %></h4>


<script>
function getGeoLocation() {
  navigator.geolocation.getCurrentPosition(setGeoCookie);
}

function setGeoCookie(position) {
  var cookie_val = position.coords.latitude + "|" + position.coords.longitude;
  console.log(position.coords.latitude);
  createCookie(cookie_val);
}

function createCookie(value) {
   var date = new Date();
   date.setTime(date.getTime()+(30*60*1000));
   var expires = "; expires="+date.toGMTString();
   

   document.cookie = "lat_lng="+value+expires;
   
   // var currentCookie = "lat_lng="+value+expires;
   // getCookie("lat_lng", currentCookie);
}

// function getCookie(cname, cookie) {
//     var name = cname + "=";
//     var ca = document.cookie.split(';');
//     console.log(ca)
//     for(var i=0; i<ca.length; i++) {
//         var c = ca[i];
//         console.log(ca[i])
//         checkCookieValue(ca[i], cookie)
//         while (c.charAt(0)==' ') c = c.substring(1);
//         if (c.indexOf(name) == 0) {
//           var locationCookie = c.substring(name.length,c.length);
//         }
//     }
//     return "";

    
// }

// function checkCookieValue(value1, value2) {
//   if(value1 != value2){
//     document.cookie = value1
//     console.log('success');
//   } else {
//     console.log("failure");
//   }
// }



getGeoLocation();
</script>




<!-- function getGeoLocation() {
  navigator.geolocation.getCurrentPosition(setGeoCookie);
}

function setGeoCookie(position) {
  var cookie_val = position.coords.latitude + "|" + position.coords.longitude;
  document.cookie = "lat_lng=" + escape(cookie_val);
  console.log(position.coords.latitude);
}
 -->
