<!DOCTYPE html>
<html>
<head>
  <title>What</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <%= csrf_meta_tags %>
  
</head>
<body class="background">
<h1 class="title">WHAT!</h1>
<%= yield %>

</body>
</html>
